<h1 class="title">Carrito de Compras</h1>
<br>
<ul>
<div class="container">
    {{#if cart}}
        <span><p> <strong>id carrito</strong>: {{cart._id}}</p></span>
        <div>
            <a href="/api/products"><button>Regresar a Tienda</button></a>
            <button class="buy_btn" onclick="buy_cart('{{this._id}}, {{sumPrice cart.products}}')">Realizar Compra</button>
        </div>
        <h2>Productos en el carrito</h2>
        {{#if cart.products.length}}
            {{#each cart.products}}
            <br>
            <div class="card" id={{this._id._id}} cant={{this.quantity}}>
                    <div class="card-body">
                        <img class="card-img" src={{this._id.thumbnail}} alt={{this._id.title}}>
                        <h5 class="card-title">{{this._id.title}}</h5>
                            <div class="card-info">
                                <p class="card-text">{{this._id.description}}</p>
                                <p class="card-text"><strong>Categoría: </strong>{{this._id.category}}</p>
                                <p class="card-text"><strong>Código:</strong> {{this._id.code}}</p>
                                <p class="card-text"><strong>Stock:</strong> {{this._id.stock}}</p>
                                <p class="card-text"><strong>Precio: $ </strong>{{this._id.price}}</p>
                                <p class="card-text"><strong>Cantidad: </strong>{{this.quantity}}</p>
                            </div>
                    </div>
            </div>
            {{/each}}
            <br>
            <hr>
            <span>
            <h3>total: {{sumPrice cart.products}}</h3></span>
        {{else}}
            <span><p>No hay productos en el carrito.</p></span> 
        {{/if}}   
    {{else}}
    <p>No se encontró ningún carrito.</p>
    {{/if}}
</div>
</ul>
<script src="/js/carts.js"></script>