<h1 class="container-fluid">Lista de Productos</h1>
{{#if user}}
<h2 class="container-fluid">Bienvenid@ {{user.name}} Tienes el rol de :{{user.role}}</h2>
<a href="/api/sessions/logout"><button>Cerrar Session</button></a>
<a href="/api/carts"><button>Ir al carrito</button></a>
{{else}}
<a href="/login"><button>Iniciar Session</button></a>
{{/if}}
<br>

<div class="container">

    {{#each products}}
    <br>

    <div class="card">
        <div class="card-body">
            <img class="card-img" src={{this.thumbnail}} alt={{this.title}}>
            <h5 class="card-title">{{this.title}}</h5>
            <div class="card-info">
                <p class="card-text">{{this.description}}</p>
                <p class="card-text"><strong>Categoría: </strong>{{this.category}}</p>
                <p class="card-text"><strong>Código:</strong> {{this.code}}</p>
                <p class="card-text"><strong>Stock:</strong> {{this.stock}}</p>
                <p class="card-text"><strong>Precio: $ </strong>{{this.price}}</p>
            </div>
        </div>
        <button onclick="addProduct('{{this._id}}')" class="btn btn-card">Agregar al Carrito</button>
    </div>
    {{/each}}
</div>

<div class="paginationPanel">
    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}"><button class="btn btn-dark">Anterior</button></a>
    {{/if}}

    <h5>Pagina: {{page}}</h5>

    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}"><button class="btn btn-dark">Siguiente</button></a>
    {{/if}}
</div>

<script src="/js/products.js"></script>